::-webkit-scrollbar {
  display: none;
}

.input-container {
  width: 95%;
  max-width: 600px;
  height: fit-content;
  border: 1px solid #5f6368;
  border-radius: 8px;
  box-shadow: 0 15px 30px rgb(0 0 0 / 65%);
  padding: 1rem;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
}
.input-container > input[type="text"] {
  width: 100% !important;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
  padding: 10px 0px;
  border: none;
  background-color: transparent;
}
input[type="text"]:focus-visible {
  outline: none !important  ;
}
textarea {
  width: 100% !important;
  height: 100px !important;

  font-family: Roboto, Arial, sans-serif;
  font-size: 0.875rem !important;
  font-weight: 400;
  color: white;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  resize: none;
  margin-bottom: 8px;
}
textarea:focus-visible {
  outline: none;
}
.input-action-container {
  width: calc(100% + 2rem);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: auto;
  margin-bottom: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  align-items: center;
  color: #dadce0;
}
.input-action-container > .save-btn {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: #dadce0;
  cursor: pointer;
  margin: 5px 10px 7px auto;
  padding: 5px 15px;
  border-radius: 8px;
}
.input-action-container > .save-btn:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.form-tags {
  margin-right: 0.5rem;
}

.form-tags > input[type="text"] {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: white;
  padding: 10px 0px;
  border: none;
  padding: 6px 10px;
  margin-left: 5px;
  margin-bottom: 7px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.075);
}
.tags-box {
  margin-bottom: 7px;
  display: flex;
  max-width: 280px;
  overflow-x: auto;
}

.color-box {
  margin-bottom: 7px;
}
.color-select {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #202124;
}

.color-selected {
  border: 1px solid whitesmoke;
}
.red {
  background-color: rgba(197, 4, 4, 0.253);
}
.yellow {
  background-color: rgba(189, 192, 32, 0.123);
}
